<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYear()}">VALUE</p>

<!--<p th:text="${book.ge()}">VALUE</p>-->
<!--th:if book getname ==null sout ""message""-->
<div th:if="${books.isEmpty()}">Has not any books</div>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName()}">user</a>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>